.studio{
    margin-top: 160px;
}

.studio__title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    color: #333333;
    margin-bottom: 80px;
}
